.form {
    font-size: 1.6em;
    padding: 30px 0;
}
.form__item {
    position: relative;
    margin-bottom: 6px;
}
.form__item.active {
    margin-bottom: 34px;
    z-index: 3;
}
.form__item:last-child {
    margin-bottom: 0;
}
.form__item.active .button {
    background-color: var(--color-green);
}
.form__item.active .form__title {
    color: #fff;
}
.form__item.active .icon, .button:hover > .icon {
    opacity: 1;
}
.form__item.active .button, .button:hover > .form__title::after {
    border-top-color: rgba(0,0,0,.55);
}
.form__item.active .button:hover > .form__title {
    color: #fff;
}

.form__title {
    color: #747474;
    padding: 0 30px 0 14px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.form__arrow--small {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}
.form__arrow::after, .form__arrow--small::after {
    content: "";
    position: relative;
    border-top-color: rgba(0,0,0,.3);
} .form__arrow::after {
    transition: .2s ease-in-out;
    margin-left: 20px;
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid;
} .form__arrow--small::after {
    border-left: var(--arrow-size-small) solid transparent;
    border-right: var(--arrow-size-small) solid transparent;
    border-top: var(--arrow-size-small) solid;
}
.form__item.active .form__arrow::after {
    transform: rotate(180deg);
    border-top-color: #fff;
}
.form__item.active .form__arrow--small::after {
    border-top-color: rgba(0,0,0,.3);
}

.form__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    background-color: var(--color-green-hover);
}

.row {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
}
.row .form__item--small {
    position: relative;
}
.row .form__item--small::before {
    right: -15px;
    content: "";
    position: absolute;
    top: calc(50% - 22px);
    height: 44px;
    width: 1px;
    background-color: var(--border-color);
}
.row .form__item--small:last-child::before {
    display: none;
}

.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 64px;
    width: 100%;
    border-radius: 6px;
    transition: var(--timing);
    background-color: rgba(0,0,0,.024);
    position: relative;
}
.button:hover {
    background-color: var(--color-green-hover);
}
.button:hover > .form__title {
    color: #323232;
}
.button--small {
    font-size: 0.7em;
    height: 48px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.2) !important;
    background: #fff !important;
    color: #000;
    border-radius: 30px;
    justify-content: center;
}
.button--small:hover {
    box-shadow: var(--shadow-button-hover);
}
.button--disabled {
    cursor: default;
}
.button--disabled:hover {
    box-shadow: none;
}
.form__title--small {
    padding-left: 20px;
}

.option {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 0;
}
.icon {
    line-height: 0;
    padding: 10px;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 8px;
    opacity: .6;
    border: 1px solid rgba(0,0,0,.09);
}