.form {
    font-size: 1.6em;
    padding: 30px 0;
    width: 100%;
    position: relative;
    top: var(--header-height);
}
.form__item {
    position: relative;
    margin-bottom: 6px;
}
.form__item.active {
    margin-bottom: 34px;
    z-index: 3;
}
.form__item:last-child {
    margin-bottom: 0;
}
.form__item.active .button {
    background-color: var(--color-green);
}
.form__item.active .form__title {
    color: #fff;
}
.button:hover {
    background-color: var(--color-green-hover);
}
.form__item.active .button:hover > .form__title {
    color: #fff;
}
.button:hover > .form__title {
    color: #323232;
}
.form__item.active .button, .button:hover > .form__title::after {
    border-top-color: rgba(0,0,0,.55);
}
.form__item.clear .button {
    background-color: #d94646a8;
}
.form__item.clear .button:hover {
    background-color: #ff6767a8;
}
.form__item.clear .form__title::after {
    display: none;
}
.form__item--small {
    position: relative;
    width: 100%;
    margin-right: 30px;
}
.form__item--small:last-child {
    margin-right: 0;
}
.form__item--small::before {
    right: -15px;
    content: "";
    position: absolute;
    top: calc(50% - 22px);
    height: 44px;
    width: 1px;
    background-color: var(--border-color);
}
.form__item--small:last-child::before {
    display: none;
}

.form__title {
    color: #747474;
    font-weight: 400;
    font-size: 1em;
    padding: 0 30px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.form__arrow--small {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}
.form__arrow::after, .form__arrow--small::after {
    content: "";
    position: relative;
    border-top-color: rgba(0,0,0,.3);
} .form__arrow::after {
    transition: .2s ease-in-out;
    margin-left: 20px;
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid;
} .form__arrow--small::after {
    border-left: var(--arrow-size-small) solid transparent;
    border-right: var(--arrow-size-small) solid transparent;
    border-top: var(--arrow-size-small) solid;
}
.form__item.active .form__arrow::after {
    transform: rotate(180deg);
    border-top-color: #fff;
}
.form__item.active .form__arrow--small::after {
    border-top-color: rgba(0,0,0,.3);
}

.form__container {
    display: flex;
    padding: 20px;
    background-color: var(--color-green-hover);
}
.column {
    flex-direction: column;
}
.column .form__item--small:first-child {
    margin-top: 0;
}
.column .form__item--small {
    margin-right: 0;
    margin-top: 10px;
}
.column .form__item--small::before {
    display: none;
}
.option {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 0;
}


.button {
    font-family: 'Fira Sans Condensed', sans-serif;
    cursor: pointer;
    transition: .2s;
    display: inline-flex;
    align-items: center;
    background-color: rgba(0,0,0,.024);
    height: 64px;
    width: 100%;
    position: relative;
    z-index: 2;
}
.button--center {
    justify-content: center;
}
.button--left .small-title {
    padding-left: 20px;
}
.button--center, .button--left {
    font-size: 0.7em;
    height: 48px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.2) !important;
    background: #fff !important;
    color: #000;
    border-radius: 30px;
}
.button--left:hover,
.button--center:hover {
    box-shadow: var(--shadow-button-hover);
}
.button--disabled {
    cursor: default;
}
.button--disabled:hover {
    box-shadow: none;
}