body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 1;
}
html, #root {
    height: 100%;
}

.content {
    height: 100vh;
    min-width: 920px;
    min-height: 430px;

    background-color: #303030;
    --shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    --border-color: rgba(0,0,0,.14);
    --border-color-hover: rgba(0,0,0,.54);
    --shadow-button-hover: 0 0 4px #aaa;
}
.left {
    background-color: #525252;
    width: 580px;
    height: 100%;
    position: fixed;
    box-shadow: 0 0px 5px -1px rgba(0,0,0,.8), 0 6px 10px 0 rgba(0,0,0,.3), 0 1px 18px 0 rgba(0,0,0,.3);
}
.right {
    height: 100%;
    margin-left: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    padding: 22px 30px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}