.content {
    position: relative;
    background-color: #282c34;
    --shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    --border-color: rgba(255,255,255,.14);
    --border-color-hover: rgba(255,255,255,.34);
}
.left {
    overflow: auto;
    width: 540px;
    height: 100%;
    position: fixed;
    box-shadow: 0 0px 5px -1px rgba(0,0,0,.8), 0 6px 10px 0 rgba(0,0,0,.3), 0 1px 18px 0 rgba(0,0,0,.3);
}
.right {
    height: 100%;
    margin-left: 540px;
    background-color: rgba(0,0,0,.28);
}
.container {
    padding: 22px 30px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    padding: 0 12px 20px 12px;
    background-color: #eee;
    color: #000;
    border-radius: 12px;
}
.header__desc {
    font-size: 0.9em;
    line-height: 1.4;
}
.header__logo {
    padding-top: 8px;
    background-color: #eee;
    border-radius: 12px;
}
.logo {
    height: 64px;
}

.form {
    font-size: 1.6em;
    padding: 40px 0;
}
.form__item {
    margin-bottom: 20px;
}
.form__item.active {
    margin-bottom: 32px;
}
.form__item:last-child {
    margin-bottom: 0;
}
.form__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    color: #fff;
    border: none;
    width: 100%;
    background: none;
    outline: none;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
    padding-left: 8px;
    height: 48px;
    transition: .4s;
}
.form__text::placeholder {
    color: #aaa;
}
.form__text:focus {
    border-bottom: 1px solid var(--border-color-hover);
}

.form__container {
    padding: 20px;
    background-color: rgba(255,255,255,.06);
    border-radius: 10px;
    box-shadow: var(--shadow);
}
.form__container, .form__container--row {
    margin-top: 8px;
}

.form__container--row {
    display: flex;
    flex-direction: row;
}
.form__container--row .form__item {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
}
.form__container--row .form__item:first-child {
    padding-right: 20px;
    border-right: 1px solid var(--border-color);
}
.form__container--row .form__item:last-child {
    padding-left: 20px;
}
.row__title {
    font-size: .7em;
}

.form__title {
    font-weight: 700;
    font-size: 1.2em;
    height: 56px;
    padding: 0 30px 0 20px;
}
.form__title::after {
    content: "";
    position: relative;
    margin-left: 20px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #eee;
}
.form__item.active .button, .button:hover {
    background-color: #21a4f7;
}
.form__item.active .form__title::after {
    transform: rotate(180deg);
}
.button {
    color: #eee;
    cursor: pointer;
    transition: .2s;
    border-radius: 30px;
    border: 1px solid rgba(255,255,255,.44);
    display: inline-flex;
    align-items: center;
}

.option {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form__file {
    display: none;
}
.file-chooser {
    height: 48px;
    font-size: .7em;
    justify-content: center;
    background: #fff !important;
    color: #000;
    width: 100%;
}
.file-chooser:hover {
    box-shadow: 0 0 6px #aaa;
}

.form__color {
    cursor: pointer;
    background: none;
    padding: 0;
    border: none;
    width: 88px;
    height: 44px;
    outline: none;
    box-shadow: var(--shadow);
    border-radius: 14px;
    transition: .2s;
}
.form__gradient {
    width: 44px;
}
.form__color:hover {
    box-shadow: 0 0 6px #aaa;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 14px;
}
input[type=color]::-webkit-focus-inner {
    padding: 0;
}
input[type=color]::-moz-color-swatch {
    border: none;
    border-radius: 14px;
}




.right {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    overflow: hidden;
    position: relative;
    width: 282px;
    height: 376px;
    border-radius: 12px;
    padding: 28px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
.banner__text {
    font-family: 'Helvetica Neue', sans-serif;
    position: absolute;
    bottom: 30px;
    color: #000;
    font-weight: 700;
    font-size: 2.4em;
    letter-spacing: -2.4px;
    line-height: 1.1;
}
.banner__img {
    cursor: move;
    position: absolute;
    line-height: 0;
}
.banner__img.drag-img::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px dashed #202020;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.2);
}